<p>Mein Name ist Lukas Freyler</p>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ebece9;">
  <a class="navbar-brand" href="#">                  
    
    <img src="http://www.ooe.owr.at/user/Download/logos/OWR-Abziehbild.svg" width="60" height="60" class="d-inline-block align-top" alt="123"> Österreichische Wasserretung Graz
  </a>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
    </div>
</nav>
